{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    {{ parent() }}

    <button id="checkout-button" style="display: none;">Checkout</button>
{% endblock %}

{% block payum_javascripts %}
    {{ parent() }}

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(function() {
            var stripe = Stripe('{{ publishable_key }}');

            var checkoutButton = $('#checkout-button');

            checkoutButton.on('click', function() {
                stripe.redirectToCheckout({
                    sessionId: '{{ session_id }}'
                }).then(function (result) {
                    alert(result.error.message);
                });
            });

            checkoutButton.trigger('click');
        });
    </script>
{% endblock %}
